.budget-calc-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 90vh;
    width: 100%;
    background-color: #0c0b0bc7;
background-image: url("https://www.transparenttextures.com/patterns/broken-noise.png");
    font-family: 'Tomorrow', sans-serif;
}

.budget-calc-content-div {
    display: flex;
    width: 100%;
    height: 80%;
}

.welcome-h1 {
    margin:50px auto;
    color: white;
    height:100%;
}

.bc-titles-div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10%;
    width: 50%;
}

.content-title {
    color: rgb(139, 132, 132);
    margin: 10px auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.content-title-active {
    font-size: 34px;
    background-color: rgba(0, 0, 0, 0.233);
    padding: 5px 10px;
    color: rgb(248, 248, 248);
}

@media screen and (max-width: 700px) {
    .budget-calc-main {
        overflow-y: scroll;
        max-height: 100%;
    }
    .budget-calc-h1 {
        font-size: 22px;
        width: 90%;
    }
}