.budget-calc-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 90vh;
    width: 100%;
    background-color: #0c0b0be8;
background-image: url("https://www.transparenttextures.com/patterns/broken-noise.png");
    font-family: 'Tomorrow', sans-serif;
}

.budget-calc-content-div {
    display: flex;
    width: 100%;
    height: 80%;
}

@media screen and (max-width: 700px) {
    .budget-calc-main {
        overflow-y: scroll;
        max-height: 100%;
    }
    .budget-calc-h1 {
        font-size: 22px;
        width: 90%;
    }
}