.header-main {
    display: flex;
    width: 100%;
    background-color: #050505;
    background-image: url("https://www.transparenttextures.com/patterns/broken-noise.png");
    border-bottom: 1px solid rgb(97, 77, 77);
    font-family: 'Tomorrow', sans-serif;
    height: 10%;
    align-items: center;
}

.header-ul {
    display: flex;
    width: 25%;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    font-size: 20px;
}

.header-ul li {
    color: rgb(121, 117, 117);
    margin: 0 auto;
    cursor: pointer;
    height: 30%;
}
.header-ul li:hover {
    color: white;
}

.header-title {
    margin: 15px auto;
    color: rgb(238, 238, 238);
    font-size: 40px;
    text-transform: uppercase;
    width: 50%;
    border-radius: 15px;
    padding: 5px;
    letter-spacing: 5px;
}

@media screen and (max-width: 800px) {
    .header-main {
        flex-direction: column;
    }
    .header-ul {
        width: 100%;
        height: 50%;
    }
    .header-ul li{
        width: 100%;
        height: 40px;
        font-size: 20px;
    }
    .header-title {
        font-size: 18px;
        width: 90%;
        padding: 5px;
        margin: 1px;
    }
}
