.top-table {
    display: flex;
    width: 100%;
    margin-left: 30px;
    border-bottom: 1px solid white;
    font-size: 55px;
}

.top-table ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    height: 50px;
}
.top-table ul li{
    font-size: 30px;
    color: white;
    padding: 0;
    min-width: 21%;
}
.top-table ul #quantity-li{
    min-width: 10%;
    margin-right: 20px;
    padding-right:95px;
}

.top-table ul #price-li {
    margin-left: 30px;
    margin-right: 15px;
    padding-right:40px;
    min-width: 12%;
}
.top-table ul #name-li {
    padding-right:80px;
    min-width: 22%;
}
.top-table ul #type-li {
    padding-right:20px;
    min-width: 22%;
}
.top-table ul #date-li {
    padding-right:110px;
    min-width: 20%;
}

@media screen and (max-width: 700px) {
    .top-table ul li{ 
        font-size: 20px;
    }
}