.select-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.select {
    height: 35px;
    background: #fff; 
    border: 2px solid rgb(31, 29, 29);
    width: 85%;
    color:whitesmoke;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.034) !important;
    text-transform: capitalize;
}

.select-div  label{
    width: 50%;
    font-size: 18px;
    height:50%;
}

.option {
    margin:40px;
    background: rgba(0,0,0,0.8);
    color:#fff;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
}

