.table-tools-div {
    border: 2px solid rgb(17, 12, 12);
    border-radius: 10px;
    height:100%;
    color: whitesmoke;
    background-color: #3b4141;
    background-image: url("../../../assets/images/backgrounds/budget-calc-background.png");
    cursor: pointer;
    transition: 3s;
    width: 10%;
    display: flex;
}

.table-tools-div-active {
    width: 35%;
    transition: 1s;
    padding: 0;
    margin: 0;
    height: 100%;
}

.table-tools-div h1 {
    width: 25%;
    margin: 10px auto;
    border-bottom: 8px double black;
    transition: 1.5s;
}

.before-hover-div {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.fa-tools {
    font-size: 40px;
    margin: 0 auto;
    color: rgb(245, 237, 237);
}

@media screen and (max-width: 700px) {
    .table-tools-div-active {
        width: 100%;
    }
    .fa-tools {
        font-size: 30px;
    }
}