.budget-calc-inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Tomorrow', sans-serif;
}

.bcalc-smaller-inputs div,
.bcalc-bigger-inputs div{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: whitesmoke;
    font-family: 'Tomorrow', sans-serif;
    font-size: 20px;
}

.bcalc-bigger-inputs {
    display: flex;
    width: 55%;
}

.bcalc-smaller-inputs {
    display: flex;
    width: 25%;
}


@media screen and (max-width:700px) {
    .budget-calc-inputs {
        height: 50%;
        flex-direction: column;
    }
    .bcalc-bigger-inputs,
    .bcalc-smaller-inputs  {
        flex-direction: column;
        min-width: 95%;
        height: 60%;
    }
    .bcalc-bigger-inputs div  {
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 5px;
    }
    .bcalc-smaller-inputs div  {
        flex-direction: row;
        justify-content: flex-end;
        margin-bottom: 5px;
    }

} 