.ng-btn {
    height: 45px;
    min-width:40%;
    margin:10px auto;
    font-size: 22px;
    font-weight: 600;
    background-color: rgba(12, 73, 73, 0.24);
    color:whitesmoke;
    padding: 0 15px;
}

#button {
    height: 50px;
    font-family: 'Tomorrow', sans-serif;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.057);
    color: white;
}

.products-submit-btn {
    width: 10%;
}

#button:hover {
    background-color: rgba(81, 163, 163, 0.24);
    border-color: white;
}

.budg-edit-btn {
    width: 100px;
    height: 40px;
    font-size:20px;
}

.budg-edit-btn-disabled {
    cursor: not-allowed !important;
    color: grey !important;
    border-color: grey !important;
}

.table-tools-btn {
    width: 100%;
    margin: 10px auto;
    text-transform: uppercase;
    font-weight: 500;
    color: whitesmoke;
    padding: 0 10px;
    font-size:20px;
}

.table-info-btn {
    width: 10%;
    margin: 0 10px;
}

.add-group-btn {
    width: 30%;
}

@media screen and (max-width:700px) {
    .products-submit-btn {
        width: 50%;
    }
} 