.head-info-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 99%;
    height: 75px;
    margin: 5px auto;
    border: 1px solid rgba(0, 0, 0, 0.767);
    border-radius: 10px;
    background-color: rgba(15, 15, 15, 0.192);
}

.head-info-p {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    color: rgb(233, 221, 221);
    letter-spacing: 2px;
    width:30%;
}

.products-info-div, 
.groups-info-div,
.total-info-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    border-right:2px solid black;
    border-left:2px solid black;
    border-radius: 10%;
    padding: 0;
    margin: 0;
}

.products-info-div .head-info-p,
.total-info-div .head-info-p,
.groups-info-div .head-info-p {
    width: 100%;
}

.groups-info-div {
    width: 30%;
}

.products-info-div {
    width: 25%;
}

.total-info-div {
    width: 35%;
}

.total-info-div p{
    margin-right: 0;
}
.total-info-div .budget-p{
    margin:0 auto;

    width:65%;
}
.total-info-div .remaining-p{
    margin:0 auto;

    width:35%;
}

.danger-p span {
    color: rgba(230, 30, 30, 0.931);
    background-color: rgba(15, 15, 15, 0.192);
}

.head-info-p span {
    font-size: 26px;
    font-weight: bold;
}

.table-info-selects {
    display: flex;
    align-items: center;
    min-width: 20%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    height: 100%;
    border-radius: 10%;
}

.label-p {
    min-width: 20%;
    height: 50%;
    color: white;
    font-size: 20px;
}

@media screen and (max-width: 700px) {
    .head-info-main {
        flex-direction: column;
        min-height: 30%;
    }
    .price-p {
        font-size: 20px;
        width: 100%;
    }
}