.sign-in-main {
    position: fixed;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 0 auto;
    background-color: rgb(156, 148, 148);
    color: white;
    width: 100%;
    height: 100%;
    align-items: center;
    background: rgba(0, 0, 0, 0.59);
}

.sign-in-div {
    min-width: 25%;
    min-height: 35%;
    background-color:rgb(17, 12, 12);
    padding: 20px;
    border: 0.5px solid whitesmoke;
    border-radius: 35px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.sign-in-div h1  {
    text-transform: capitalize;
    border-bottom: 1px solid white;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 5px;
}

.sign-in-div .btns-div {
    display: flex;
    justify-content: center;
    width: 100%;
}

.here-span {
    font-size: 20px;
    cursor: pointer;
    color: rgb(224, 213, 213);
    margin: 0 5px;
}

.no-acc-p {
    font-size: 18px;
    color: rgb(82, 80, 80)
}