.inputs{
    border: 1px solid black;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.034);
    border-radius: 5px;
    outline: transparent;
    color:whitesmoke;
    text-align:center;
    font-size: 20px;
}

#price,
#quantity {
    width: 50%;
}

#name, #country, #type, #email, #password, #date {
    text-transform: capitalize;
    width: 95%;
}

::placeholder {
    font-size: 20px;
    text-transform: capitalize;
}
