.inputs{
    border: 1px solid black;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.034);
    border-radius: 5px;
    outline: transparent;
    color:whitesmoke;
    text-align:center;
    font-size: 20px;
    padding: 0 10px;
    margin: 0 auto;
}

#price,
#quantity {
    width: 50%;
}

#name, #type, #email, #password, #date, #income {
    text-transform: capitalize;
    width: 95%;
}
#date { 
    min-width: 160px;
    padding: 0;
}
#email {
    text-transform: lowercase;
}

::placeholder {
    font-size: 20px;
    text-transform: capitalize;
}
#date,
.input-div {
    display: flex;
    min-height: 25%;
    margin: 0 auto;
    width: 100%;
}

@media screen and (max-width:700px) {
    .inputs {
        height: 80%;
        width: 100%;
    }
    .input-div {
        min-height: 30%;
        
        margin: 0;
    }
    #date {
        min-width: 72%;
    }
  
}