.ng-date-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid white;
    height: 30%;
    width: 100%;
    margin-bottom:  10px;
}

.store-input-div {
    display: flex;
    flex-direction: row;   
    height: 50%;
}

::placeholder {
    font-size: 15px;
    font-family: 'Tomorrow', sans-serif;
}