.ng-date-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid white;
    height: 20%;
    width: 100%;
    margin-bottom:  10px;
}


::placeholder {
    font-size: 15px;
    font-family: 'Tomorrow', sans-serif;
}